---
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import Projects from '@components/Projects.astro'
import ExperienceTimeLine from '@components/ExperienceTimeLine.astro'
---

<Layout>
	<Header />
	<Projects />
	<ExperienceTimeLine />
	<p>Hola me llamo pepe</p>
</Layout>
