---
import Profile from '@public/icons/Profile.astro'
---

<section class="mt-[100px] flex w-full flex-col items-center gap-y-16 md:mt-[150px]">
	<div class="flex items-center gap-5">
		<Profile class="size-12" />
		<h2
			id="sobre-mi"
			data-section="sobre-mi"
			class="scroll-m-20 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-3xl font-extrabold text-transparent md:text-4xl"
		>
			Sobre mí
		</h2>
	</div>
	<section class="flex flex-col items-center justify-center gap-10 md:flex-row">
		<article class="flex flex-col gap-5 text-pretty text-lg md:max-w-[60%] md:text-xl">
			<p>
				Mi nombre es Víctor Pérez Barranco, aunque en el mundo digital me conocen como <strong
					>Vipeba</strong
				>. Desde pequeño me ha apasionado el mundo de la tecnología y su capacidad de convertir
				ideas en realidades.
			</p>
			<p>
				Soy de Granada, España🇪🇸, donde cursé el grado en <strong>Ingeniería Informática</strong>.
				Durante ese periodo, adquirí las bases de la programación y de los sistemas informáticos que
				forman parte de nuestra vida diaria.
			</p>
			<p>
				Actualmente, me centro en el <strong>desarrollo de aplicaciones web</strong> y <strong
					>aplicaciones multiplataforma</strong
				>. Mi objetivo es la creación de webs modernas con identidad propia, que reflejen la esencia
				y propósito de cada proyecto.
			</p>
		</article>
		<aside class="w-auto">
			<img src="/perfil.webp" alt="Foto de perfil" class="h-[60vh] rounded-lg md:w-auto" />
		</aside>
	</section>
</section>
