---
import Profile from '@public/icons/Profile.astro'
---

<section class="mt-[100px] flex w-full flex-col items-center gap-y-16 md:mt-[150px]">
	<div class="flex items-center gap-5">
		<Profile class="size-12" />
		<h2
			id="sobre-mi"
			data-section="sobre-mi"
			class="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-3xl font-extrabold text-transparent md:text-4xl"
		>
			Sobre mí
		</h2>
	</div>
	<section class="flex flex-col items-center justify-center gap-10 md:flex-row">
		<article class="flex flex-col gap-5 text-pretty md:max-w-[60%] md:text-lg">
			<p>
				Me llamo Miguel Ángel pero mis amigos me llaman midu. Empecé en la programación con un
				Amstrad, tenía 10 años. Actualmente estoy liderando equipos de desarrollo en
				multinacionales.
			</p>
			<p>
				Algunos de mis éxitos incluyen colaborar con Mozilla para el desarrollo de las primeras apps
				en su sistema FirefoxOS. Aunque hoy está desaparecido fue un gran avance en el mundo del
				desarrollo web.
			</p>
			<p>
				Como creador de contenido, cuento con el canal de habla hispana más visto del mundo en la
				categoría de Software & Game Development en Twitch. Mi objetivo es mejorar la empleabilidad
				de la comunidad hispana y el acceso a contenido de calidad.
			</p>
		</article>
		<aside class="w-auto">
			<img src="../../public/perfil.jpg" alt="Foto de perfil" class="w-64 rounded-lg md:w-auto" />
		</aside>
	</section>
</section>
