---
import ExperienceTimeLineItem from '@components/ExperienceTimeLineItem.astro'
import Work from '@public/icons/work.astro'

import { EXPERIENCE } from '@data/experience'
---

<section class="mt-14 flex w-full flex-col items-center gap-y-16 md:mt-32">
	<div class="flex items-center gap-5">
		<Work class="size-12" />
		<h2
			id="experience"
			data-section="experience"
			class="scroll-m-20 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-3xl font-extrabold text-transparent md:text-4xl"
		>
			Experiencia laboral
		</h2>
	</div>
	<ol class="relative border-s border-gray-700 dark:border-gray-200">
		{EXPERIENCE.map((experience) => <ExperienceTimeLineItem experience={experience} />)}
	</ol>
</section>
