---
import ExperienceTimeLineItem from '@components/ExperienceTimeLineItem.astro'

const EXPERIENCE = [
	{
		time: 'Junio 2024 - Diciembre 2024',
		job: 'Desarrollador FullStack',
		company: 'Constella Intelligence',
		description: 'Puesto como desarrollador de una aplicación de ciberinteligencia.'
	},
	{
		time: 'Enero 2024 - Mayo 2024',
		job: 'Desarrollador Frontend',
		company: 'Universidad de Granada',
		description: 'Estudiante del grado de Ingeniería Informática.'
	}
]
---

<section class="flex flex-col gap-y-16">
	<ol class="relative border-s border-gray-200 dark:border-gray-700">
		{EXPERIENCE.map((experience) => <ExperienceTimeLineItem experience={experience} />)}
	</ol>
</section>
