---
interface Props {
	experience: {
		time: string
		job: string
		company: string
		description: string
	}
}

const { experience } = Astro.props
---

<li class="mb-10 ms-4 md:flex md:justify-start md:gap-12">
	<div
		class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-gray-900 bg-gray-700 dark:border-white dark:bg-gray-200"
	>
	</div>
	<aside>
		<h3 class="text-2xl font-semibold">
			{experience.job}
		</h3>
		<h4 class="text-lg text-gray-800 dark:text-gray-300">{experience.company}</h4>
		<time class="mb-1 text-lg font-normal leading-none text-gray-400">{experience.time}</time>
	</aside>
	<p class="text-pretty text-xl font-normal text-gray-800 dark:text-gray-100">
		{experience.description}
	</p>
</li>
