---

---

<footer class="mb-20 mt-32 flex flex-col place-content-between md:flex-row">
	<section class="flex flex-col gap-10">
		<img src="../../public/signature.png" alt="Firma" class="w-64" />
		<p>© 2024 Vipeba. Casi todos los derechos reservados.</p>
	</section>
	<section class="flex flex-col justify-start gap-10">
		<h3 class="text-2xl font-bold">Enlaces</h3>
		<ul class="flex flex-col gap-2">
			<li><a href="https://www.linkedin.com/in/victorperezbarranco/">LinkedIn</a></li>
			<li><a href="https://github.com/VictorPB">GitHub</a></li>
			<li><a href="#">Curriculum Vitae</a></li>
			<li>
				<a href="mailto:victorperezbarrancodev@gmail.com">victorperezbarrancodev@gmail.com</a>
			</li>
		</ul>
	</section>
</footer>
