---

---

<div>
	<div class="-z-10 flex h-0 w-[99vw] flex-row">
		<div class="relative left-80 h-16 w-[33vw] shrink-0 rounded-[50px] bg-amber-400 blur-[80px]">
		</div>
		<div class="relative h-24 w-[33vw] shrink-0 rounded-[50px] bg-rose-400 blur-[80px]"></div>
		<div class="relative right-80 h-24 w-[33vw] shrink-0 rounded-[50px] bg-indigo-500 blur-[80px]">
		</div>
	</div>
</div>
