---

---

<header class="mx-auto max-w-xl px-4 py-8 text-center lg:px-6 lg:py-16">
	<h1 class="mb-4 text-6xl font-extrabold tracking-tight text-white">
		Hi! I'm Victor Perez Barranco
	</h1>
	<p class="dark:text-grey-400 text-center font-light text-gray-500 sm:text-xl">
		A front-end engineer and UI/UX designer helping startups turn their visions into a digital
		reality. I specialize in designing and building modern mobile and web-based apps.
	</p>
</header>
