---
import Button from './Button.astro'
import LinkedIn from '@public/icons/LinkedIn.astro'
import GitHub from '@public/icons/Github.astro'
import CV from '@public/icons/CV.astro'
---

<header
	class="mt-10 flex min-h-[90vh] flex-col items-center justify-center gap-10 px-4 py-8 text-center md:px-6 md:py-16 xl:flex-row"
>
	<aside class="flex flex-col justify-evenly gap-5 xl:max-w-[50%]">
		<h1 class="mb-4 text-5xl font-extrabold tracking-tight text-gray-900 dark:text-white">
			<strong
				class="mt-3 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text font-extrabold text-transparent"
				>Hola!</strong
			> Soy Víctor Pérez Barranco
		</h1>
		<p
			class="dark:text-grey-400 text-pretty text-lg font-light text-gray-500 dark:text-gray-100 md:text-xl lg:text-2xl"
		>
			Desarrollador Full Stack apasionado en convertir ideas y visiones en realidades digitales.
			Centrado en diseñar y construir web modernas y aplicaciones multiplataforma.
		</p>
		<nav>
			<ul class="flex justify-center gap-4 align-middle">
				<>
					<Button href="https://www.linkedin.com/in/victorperezbarranco/">
						<LinkedIn class="size-6" />
						LinkedIn
					</Button>
					<Button href="https://github.com/VictorPB">
						<GitHub class="size-6" />
						GitHub
					</Button>
					<Button href="../../../public/CV-ES-EN.pdf">
						<CV class="size-6" />
						CV
					</Button>
				</>
			</ul>
		</nav>
	</aside>
	<div
		class="h-auto w-full max-w-96 overflow-hidden rounded-xl drop-shadow-2xl xl:relative xl:left-[50px] xl:w-[550px] xl:rotate-6 xl:transform"
	>
		<img src="./public/Vipeba.jpg_large" alt="Vipeba Photo" class="-rotate-6 scale-150 transform" />
	</div>
</header>
