---
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import Gradient from '@components/Gradient.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/icon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio de Vipeba</title>
		<ViewTransitions fallback="none" />
	</head>
	<body
		class="flex w-full flex-col items-center justify-center bg-slate-100 px-4 text-black dark:bg-[#121212] dark:text-white lg:px-32"
	>
		<Gradient />
		<NavBar />
		<slot />
		<Footer />
		<Gradient />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
</style>
