---
import NavBar from '../components/NavBar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Victor Perez Barranco</title>
	</head>
	<body>
		<NavBar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		background: #0d0d0d;
		font-family: system-ui, sans-serif;
	}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 20px;
		gap: 100px;
	}
</style>
