---
import NavBar from '../components/NavBar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Victor Perez Barranco</title>
	</head>
	<body class="bg-slate-100 text-black dark:bg-slate-900 dark:text-white">
		<NavBar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		overscroll-behavior: none;
		gap: 100px;
		color: rgba(17, 17, 17, 0.9);
	}

	@media (prefers-color-scheme: dark) {
		body {
			color: rgba(255, 255, 255, 0.9);
		}
	}
</style>
